{% extends 'AirAdminBundle::base.html.twig' %}

{% block pageTitle %}
	{{ parent() }} - Tagi
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">Tagi</div>
                <div class="panel-body">

                    <ul class="nav nav-pills">
                        <li><a href="{{ path('admin_tagForm') }}">Dodaj nowy</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <div style="margin-top: 20px;" class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(pagination, 'ID', 't.id') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Nazwa', 'p.name') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Ilość postów przypisanych', 'postsCount') }}</th>
                                    <th class="actions">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in pagination %}
                                    {% set tag = row[0] %}
                                    {% set editPath = path('admin_tagForm', {'id': tag.id}) %}
                                    <tr>
                                        <td>{{ tag.id }}</td>
                                        <td><a href="{{ editPath }}">{{ tag.name }}</a></td>
                                        <td>{{ row['postsCount'] }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{{ editPath }}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>

                                                {% if is_granted('ROLE_ADMIN') %}
                                                    {% set tokenName = csrfProvider.generateCsrfToken(deleteTokenName|format(tag.id)) %}
                                                    {% set deletePath = path('admin_tagDelete', {'id': tag.id, 'token': tokenName}) %}
                                                    <a href="{{ deletePath }}" class="btn btn-danger" data-confirmAction="">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {{ knp_pagination_render(pagination, 'AirAdminBundle:Pagination:admin_pagination.html.twig') }}
                </div>  <!-- .panel-body -->
            </div>  <!-- .panel -->
        </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}