{% extends "AirBlogBundle::base.html.twig" %}

{% block pageTitle %}Kontakt{% endblock %}

{% block contentTitle %}Kontakt{% endblock %}

{% block content %}
<div class="contact-page left-side">

    {% include 'AirBlogBundle:Template:flashMsg.html.twig' %}
    
    {% form_theme form 'AirBlogBundle:Form:form_template.html.twig' %}
    {{ form(form) }}
</div> <!-- .left -->
{% endblock %}