{% extends "AirBlogBundle::base.html.twig" %}

{% block pageTitle %}{{ listTitle }}{% endblock %}

{% block topImage %}
    <div class="slider">
        <div class="viewport">
            <div class="slides-container">
                <div style="background-image: url('{{ asset('bundles/airblog/img/slide-1.jpg') }}')" class="slide"></div>
                <div style="background-image: url('{{ asset('bundles/airblog/img/slide-2.jpg') }}')" class="slide"></div>
                <div style="background-image: url('{{ asset('bundles/airblog/img/slide-3.jpg') }}')" class="slide"></div>
            </div>
        </div>

        <span class="nav prev"></span>
        <span class="nav next"></span>
    </div>
{% endblock %}

{% block contentTitle %}{{ listTitle }}{% endblock %}

{% block content %}
<div class="left-side">
         
    {% for post in pagination %}
    <article class="post">
        <header>
            <h1><a href="{{ path('blog_post', {'slug': post.slug}) }}">{{ post.title }}</a></h1>

            <div class="meta-data">
                <div class="author">Autor <a href="#">{{ post.author.username }}</a></div>
                <div class="create-date">Dodano {{ post.publishedDate|date('d.m.Y, H:m') }}</div>
            </div>
        </header>

        <div class="thumbnail">
            <div class="meta-data"> 
                <div class="categories">
                    Kategoria:
                    <a href="{{ path('blog_category', {'slug': post.category.slug}) }}">{{ post.category.name }}</a>
                </div>

                <div class="tags">
                    Tagi:
                    {% for tag in post.tags %}
                    <a href="{{ path('blog_tag', {'slug': tag.slug}) }}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>

            <img src="{{ asset(post.thumbnail) }}" alt="">
        </div>

            {{ post.content|ab_shorten(300) }}

        <footer>
            <a class="comments" href="#">Komentarzy ({{ post.comments|length }})</a>
            <a href="{{ path('blog_post', {'slug': post.slug}) }}" class="btn-green">Czytaj całość [...]</a>
        </footer>
    </article> <!-- .post -->
    {% endfor %}

    {{ knp_pagination_render(pagination, 'AirBlogBundle:Pagination:pagination.html.twig') }}

</div> <!-- .left-side -->
{% endblock %}