{% extends "AirBlogBundle::base.html.twig" %}

{% block pageTitle %}{{ post.title }}{% endblock %}

{% block contentTitle %}{{ post.title }}{% endblock %}

{% block content %}
<div class="left-side">
    
    {% include 'AirBlogBundle:Template:flashMsg.html.twig' %}

    <article class="post">
        <header>
            <h1>{{ post.title }}</h1>

            <div class="meta-data">
                <div class="author">Autor <a href="#">{{ post.author.username }}</a></div>
                <div class="create-date">Dodano {{ post.publishedDate|date('d.m.Y, H:m') }}</div>
            </div>
        </header>

        <div class="thumbnail">
            <div class="meta-data">
                <div class="categories">
                    Kategoria:
                    <a href="{{ path('blog_category', {'slug': post.category.slug}) }}">{{ post.category.name }}</a>
                </div>

                <div class="tags">
                    Tagi:
                    {% for tag in post.tags %}
                    <a href="{{ path('blog_tag', {'slug': tag.slug}) }}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>

            {#<img src="img/default-thumbnail.jpg" alt="">#}
            <img src="{{ asset(post.thumbnail) }}" alt="">
        </div>

        {{ post.content|raw }}
    </article>

    <section class="post-comments" id="post-comments">
        <header>
            <h3>Komentarze ({{ post.comments|length }})</h3>
        </header>

        {% if app.user %}
        <div class="comment">
            <img class="thumbnail" src="{{ asset(app.user.avatar) }}" alt="">

            <div class="body">
                <div class="author">{{ app.user.username }}</div>
                <div class="create-date">{{ date()|date('d/m/Y') }}</div>

                <div class="clearfix"></div>
                
                {% form_theme commentForm 'AirBlogBundle:Form:form_template.html.twig' %}
                {{ form(commentForm, {'action': '#post-comments'}) }}
            </div>
        </div>
        {% endif %}

        {% for comment in post.comments %}
        <div class="comment">
            <img class="thumbnail" src="{{ asset(comment.author.avatar) }}" alt="">

            <div class="body">
                <div class="author">
                    {{ comment.author.username }}
                    
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="divider"></div>
                    {% set commentToken = csrfProvider.generateCsrfToken(tokenName|format(comment.id)) %}
                    {% set deleteUrl = path('blog_deleteComment', {'commentId': comment.id, 'token': commentToken}) %}
                    <a href="{{ deleteUrl }}" class="delete delete-comment">Usuń</a>
                    {% endif %}
                </div>
                <div class="create-date">{{ comment.createDate|date('d/m/Y') }}</div>

                <div class="clearfix"></div>

                <p>{{ comment.comment }}</p>
            </div>
        </div>
        {% endfor %}
    </section>

</div> <!-- .left -->
{% endblock %}

{% if is_granted('ROLE_ADMIN') %}
    {% block javascripts %}
        {{ parent() }}
        
        <script>
            $(document).ready(function(){
                
                $('body').on('click', '.delete-comment', function(e){
                    e.preventDefault();
                    
                    var $btn = $(this);
                    var deleteUrl = $btn.attr('href');
                    
                    $.getJSON(deleteUrl, function(json){
                        alert(json.message);
                        
                        if('ok' === json.status){
                            $btn.closest('.comment').remove();
                        }
                    });
                });
                
            });
            
        </script>
    {% endblock %}
{% endif %}